@import '../../sass/theme.scss';

.card {
  width: 100%;
  padding: 3.5rem 1rem;
  background: $white;
}

.default{
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    background: $secondary;
  }
  
}

.border {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  border: 1.5rem solid transparent;
  &:hover{
    border-color: $secondary;
  }
}