@import "../../sass/theme.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.facts {
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 8.6rem;

  &.variant-primary {
    background-color: $primary;
    border: 0.1rem dashed $tertiary;
  }

  h1{
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 6rem;
    line-height: 1rem;
    color: $white;
  }

  hr{
    margin: 0rem 0rem 5.1rem;
    border: none;
    height: 0.1rem;
    background-color: $tertiary;
    opacity: 30%;
  }
}

.container {
  display: grid;
  gap: 1.8rem;
  grid-template-columns: repeat(auto-fit, minmax(34.5rem, 1fr));
  grid-auto-rows: minmax(32.2rem, 1fr);

  & div:first-child {
    grid-row: 1/3;
  }
}
