@import './sass/theme.scss';

.mainTemplate {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mainTemplate_container {
  padding-top: 10rem;
  width: 100%;
  min-width: $min-width;
  max-width: $max-width;
}


