@import "./sass/theme.scss";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: background-color 0.5s ease;
  transition: border-color 0.5s ease;
}

#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  background-color: $display;
}

html {
  font-size: 10px;
}

p {
  margin: 0;
}
